Telegram_Agent_Workflow.json
{
  "name": "20260125 Telegram Agent-v1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Limit response to 4096 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1392,
        -816
      ],
      "id": "71887ecd-1717-4f2f-8a15-eaaac018321c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1600,
        -608
      ],
      "id": "8bb19832-a936-4860-ab84-3741de0d69c8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6aJEeWoJD3sjY9tb",
          "name": "gemini(PaLM)_api"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1424,
        -608
      ],
      "id": "6f9bb265-c9fc-4297-86c8-69f2cdd08f8a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -816
      ],
      "id": "f2fcb2a6-cf6d-48e3-9558-65cb4c584b10",
      "name": "Send a text message",
      "webhookId": "332f5106-b2b1-45c9-8860-ed51c650d15b",
      "credentials": {
        "telegramApi": {
          "id": "G6KEV36amgLKwN98",
          "name": "SP_Jarvis_Telegram API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -1024,
        -608
      ],
      "id": "80e5bf51-5d11-403a-8fbc-c561fbe2178d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "enableUrlContext": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Enable_URL_Context_Tool', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-gemini-search.geminiSearchToolTool",
      "typeVersion": 1,
      "position": [
        -1232,
        -608
      ],
      "id": "1efd0689-7ceb-4902-81be-df8895bc0f3b",
      "name": "Gemini Search Tool",
      "credentials": {
        "geminiSearchApi": {
          "id": "Qz7aQE2MEfyCcCtj",
          "name": "Gemini Credentials account 76"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram Agent\n",
        "height": 464,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        -928
      ],
      "typeVersion": 1,
      "id": "cc58f0a1-7e61-4cb2-a0db-b268f0410a35",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -832
      ],
      "id": "47b05977-3933-4097-98ef-e3be0b981280",
      "name": "Telegram Trigger",
      "webhookId": "c6a5c5b5-0495-4591-9c87-819362c288c3",
      "credentials": {
        "telegramApi": {
          "id": "G6KEV36amgLKwN98",
          "name": "SP_Jarvis_Telegram API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "406ba139-3504-4c20-bbcf-c9ce94714bd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "BQ0ujAfzngEEYapWvLxk_",
  "tags": []
}